.App {
	text-align: center;
}

.form-signin {
	width: 100%;
	max-width: 530px;
	padding: 15px;
	margin: 0 auto;
	border-radius: 0;
}

.form-input input {
	width: 100%;
	max-width: 730px;
	padding: 15px;
	margin: 10px auto;
	border-radius: 0;
	border-width: 4px;
}

.form-btn {
	width: 100%;
	max-width: 230px;
	padding: 15px;
	margin: 50px auto;
	border-radius: 0;
	border-width: 0;
	background-color: #865439;
	color: white;
}

.signup-title {
	margin-top: 4%;
	color: #2d2424;
	font-size: 5rem;
}

.nav-link {
	color: #2d2424;
	font-weight: bold;
	font-size: 1.5rem;
}

.nav {
	padding: 1.5%;
}

.navbar {
	background-color: #f4ecf2;
}
